


h1{
	text-align:center;
}
.linea{
	padding: 10px 0;
	
}
input{
	border-radius: 6px;
}
::placeholder{
	font-size: 12px;
	font-family: Verdana;
}
.botones{
	font-family: Sanvito Pro;
	font-size: 20px;
}
input[type="text"],input[type="email"]{
	width: 200px;
}
input[type="submit"]{
	margin-left: 42%;
}
label{
	display: block;
	margin-bottom: 4px;
	color: #FFFFFF;
	font-size: 20px;
	font-weight: 600;
	
}
#contenedor{
	width: 500px;
	margin: 0 auto;
	border: 3px solid #333;
	border-radius: 8px;
	padding: 20px;
	margin-left: 22%;
}


h2{
    font-size: 18px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 4px;
}
ul{
    list-style-type: none;
    padding-left:0;
}
li{
    margin-bottom:14px;
}
li a{
    color:white;
    text-decoration: none;
}
a{
    color:white;
    text-decoration: none;
}
.carros{
    padding-left: 200px;
    width: 690px;
}
